<?xml version='1.0' encoding='utf-8'?>
<plugin id="gertec" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>gertec</name>
    <js-module name="gertec" src="www/gertec.js">
        <clobbers target="cordova.plugins.gertec" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="gertec">
                <param name="android-package" value="gertec.gertec" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/gertec.java" target-dir="src/android" />   
        <source-file src="src/android/OutputCallbacks.java" target-dir="src/android" />   
        <source-file src="src/android/MainActivity.java" target-dir="src/android" />   
        <source-file src="src/android/PinKBDActivity.java" target-dir="src/android" />   
        <source-file src="src/android/MainActivity.java" target-dir="src/android" />   
        <source-file src="src/android/KBDData.java" target-dir="src/android" />   
        <lib-file src="src/android/libs/GediGPOS720.jar" />
        <lib-file src="src/android/libs/GandiGPOS720.jar" />
        <lib-file src="src/android/libs/PPCompGPOS720.jar" />
    </platform>
</plugin>
